name = "live-canvas-worker"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[[durable_objects.bindings]]
name = "BOARD_ROOM"
class_name = "BoardRoom"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["BoardRoom"]

[vars]
ENVIRONMENT = "development"

# Local development server settings
[dev]
ip = "0.0.0.0"
port = 8787
local_protocol = "http"
